.container-fluid {
    display: flex;
    flex-direction: column;
    height: 100%; 
}

.calendar-grid {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.calendar-grid .row {
    flex-grow: 1;
}

.input-group .btn, .input-group .form-control {
    background-color: hsl(210, 7%, 95%);
    border: none;
}

.input-group .form-control:focus {
    background-color: hsl(210, 7%, 95%);
    transition: background-color 0.1s;
}

.input-group .btn:hover {
    background-color: hsl(210, 7%, 100%);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.input-group .form-control {
    background-color: hsl(210, 7%, 95%) !important;
    box-shadow: none !important;
    z-index: 121212;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .title {
    font-size: 20px;
    font-weight: bold;
  }
  
  .logout button {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  .logout button:hover {
    background-color: #c82333;
  }
  